In [1]:
import pandas as pd

In [2]:
data = ['Database team','ML team' ,'Flask team']  
df = pd.DataFrame(data, columns = ['Team'])
df

            Team
0  Database team
1        ML team
2     Flask team

In [4]:
df.columns=['Intern Team']
df

     Intern Team
0  Database team
1        ML team
2     Flask team

In [5]:
df.rename(columns={'Intern Team':'Team'},inplace=True)
df

            Team
0  Database team
1        ML team
2     Flask team