---
title: "Remove Punctuation"
author: "Vaishnavi"
date: 2020-08-9
description: "-"
type: technical_note
draft: false


---

In [1]:
import pandas as pd

In [2]:
content = ['hey!','great..','nice@']

In [3]:
df=pd.DataFrame(content,columns={'Sms content'})
df

  Sms content
0        hey!
1     great..
2       nice@

In [6]:
import string
string.punctuation
def remove_punctuation(text):
    new_text=''.join([char for char in text if char not in string.punctuation])
    return new_text

In [7]:
df['new_sms']=df['Sms content'].apply(lambda row : remove_punctuation(row))
df

  Sms content new_sms
0        hey!     hey
1     great..   great
2       nice@    nice